/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Vagrantfile
routes/home.php
routes/home.php
random bullshit/invTypes.sql
random bullshit/dgmTypeAttributes.sql
cd
my.cnf
.vagrant/machines/trigdefense/virtualbox/action_set_name
.idea/workspace.xml
.idea/webServers.xml
.idea/deployment.xml
.idea/dataSources/e9ee6c62-0d0d-45e7-954c-d4103668ed6b.xml
.vagrant/machines/trigdefense/virtualbox/action_set_name
.idea/workspace.xml
.idea/webServers.xml
.idea/deployment.xml
.idea/dataSources/e9ee6c62-0d0d-45e7-954c-d4103668ed6b.xml
.idea/workspace.xml
.idea/workspace.xml
